/*footer*/
.footer {
  padding: 2rem 0 2rem 0;
}

.footer__rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: var(--fontweight-medium);
  color: var(--cor-de-link);
}
