.menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.menu__img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    object-fit: cover;
}

.menu__title {
    font-size: 1rem;
    font-weight: var(--fontweight-bold);
}

nav {
    display: flex;
    flex-direction: row;
}

.menu__list {
    display: flex;
    flex-direction: row;
}

.menu__list__item {
    font-weight: var(--fontweight-medium);
    margin-left: var(--size-gap-section);
    margin-top: 1rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

}

.menu__list__item:hover {
    font-weight: var(--fontweight-bold);
    transition: 0.2s linear;
}

.menu__list__item__contato {
    font-weight: var(--fontweight-bold);
    padding: 1rem;
    font-size: 1rem;
}

.menu__list__item__contato:hover {
    font-style: italic;
}


/*Tablet*/
@media screen and (max-width: 1024px) {
    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        font-weight: var(--fontweight-bold);
        font-size: 1rem;
        font-style: normal;
    }

}

/*Mobile*/
@media screen and (max-width: 668px) {
    .menu__title {
        margin: 0;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        font-weight: var(--fontweight-regular);
        font-size: 0.87rem;
    }
}